
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background-image: url(paisagemnatural.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container do formulário */
.wrapper {
    width: 400px;
    background:  rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(15, 15, 15, 0.938);
}

.wrapper h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #f1ebeb;
}

/* Caixa de entrada com ícone */
.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 12px 40px 12px 15px;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
    transition: border-color 0.3s;
}

.input-box input:focus {
    border-color: #e6e5e7;
}

.input-box img {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    opacity: 0.5;
}


p{
    color: #f6f3f8;
}

/* Lembre-se e Esqueci senha */
.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 20px;

    
}
    

.remember-forgot a {
    color: #f6f3f8;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

/* Botão */
.button {
    width: 100%;
    padding: 12px;
    background-color: #eae9eb;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #1b61e4;
}

/* Link para cadastro */
.register-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.register-link a {
    color: #c8becc;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
